<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Debug-only ресивер для ручного теста снапшота -->
        <receiver
            android:name="app.aaps.dev.ForceSnapshotReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app.aaps.wear.ACTION_TEST_RESEND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>